.container {
    width: 80%;
    margin: 50px auto;
}

body {
    font-family: 'Source Sans Pro', Helevetica, Helevetica Neue, Arial, sans-serif;
}


/* CLSB-Programming console-esqe title */

#title {
    font-size: 48px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    background: black;
    display: inline-block;
    margin: 10px 0;
    padding: 20px;
}

#title span.blinker {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    0% {
        color: white;
    }
    50% {
        color: black;
    }
    100% {
        color: white;
    }
}


/* Code tag formatting */

code {
    font-family: 'Source Code Pro', monospace;
    background: #f4f4f4;
    border-radius: 3px;
    padding: 3px;
}

.lime { color: lime }
.blue { color: blue }
